@model WebApplication2.Models.Person
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


<form asp-action="Sample2Find">
    <div>
    @Html.DisplayNameFor(p => p.Name)
    <input type="text" asp-for="Name" />
    </div>
    <div>
    @Html.DisplayNameFor(p => p.Age)
    <input type="text" asp-for="Age" />
    </div>
    <input type="submit" value="submit"/>

    </form>

@Html.DisplayFor(m => m.Name);
@Html.DisplayFor(m => m.Age); 
